<h2>Criar conta</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>

  <%= f.input :role, as: :radio_buttons,
              collection: [["Sou cliente", "customer"], ["Sou restaurante", "owner"]] %>

  <%= f.button :submit, "Cadastrar", class: "btn btn-primary" %>
<% end %>

<p>
  <%= link_to "Já tenho conta", new_user_session_path %>
</p>
