<h2>Configurações da Conta</h2>

<%= simple_form_for(@user) do |f| %>
  <%= form_with(model: @user, url: user_path(@user), method: :patch, local: true, html: { multipart: true }) do |form| %>

          <%# Campo de E-mail/Nome de Usuário (Exemplo) %>
   <div class="mb-3">
     <%= form.label :username, "Nome de Usuário", class: "form-label" %>
     <%= form.text_field :username, class: "form-control", placeholder: "Insira seu nome de usuário" %>
   </div>

   <div class="mb-3">
     <%= form.label :email, "E-mail", class: "form-label" %>
     <%= form.email_field :email, class: "form-control", placeholder: "Insira seu e-mail" %>
   </div>

          <%# Campo de Upload de Foto de Perfil %>
   <div class="mb-3">
     <%= form.label :profile_picture, "Nova Foto de Perfil", class: "form-label" %>
            <%# O `file_field` é essencial para o upload de arquivos %>
     <%= form.file_field :profile_picture, class: "form-control", accept: 'image/png,image/jpeg,image/jpg' %>
     <div class="form-text">Formatos aceitos: JPG, JPEG, PNG.</div>
   </div>

          <%# Botão de Envio %>
   <div class="d-grid gap-2">
     <%= form.submit "Salvar Alterações", class: "btn btn-primary" %>
     <%= link_to "Voltar para o Perfil", user_path(@user), class: "btn btn-outline-secondary mt-3" %>
   </div>

   <div class="mb-3">
    <%= f.input :role,
                as: :radio_buttons,
                collection: [["Sou cliente", "customer"], ["Sou restaurante", "owner"]],
                label: "Tipo de conta" %>
   </div>

    <%= f.button :submit, "Salvar", class: "btn btn-primary" %>
<% end %>
 <% end %>
