<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav mx-auto d-flex justify-content-center align-items-center text-center gap-5">
  <% if user_signed_in? %>

    <li class="nav-item flex-fill">
      <%= link_to timeline_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fas fa-home"></i>
        <span>Timeline</span>
      <% end %>
    </li>

    <li class="nav-item flex-fill">
      <%= link_to explore_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fas fa-search"></i>
        <span>Explorar</span>
      <% end %>
    </li>

    <!-- Botão central — Publicar -->
<li class="nav-item flex-fill publicar-btn">
  <% if user_signed_in? && current_user.owner? %>
    <%= link_to new_restaurant_path, class: "nav-link d-flex flex-column align-items-center" do %>
      <%= image_tag "mini.png", class: "nav-icon-img", alt: "Novo restaurante" %>
      <span>Criar restaurante</span>
    <% end %>
  <% elsif user_signed_in? && current_user.customer? %>
    <%= link_to publish_path, class: "nav-link d-flex flex-column align-items-center" do %>
      <%= image_tag "mini.png", class: "nav-icon-img", alt: "Publicar avaliação" %>
      <span>Publicar</span>
    <% end %>
  <% end %>
</li>


    <li class="nav-item flex-fill">
      <%= link_to profile_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fas fa-user-circle"></i>
        <span>Perfil</span>
      <% end %>
    </li>

    <li class="nav-item flex-fill">
      <%= link_to destroy_user_session_path,
                  data: { turbo_method: :delete },
                  class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fas fa-sign-out-alt"></i>
        <span>Sair</span>
      <% end %>
    </li>

  <% else %>
    <li class="nav-item flex-fill">
      <%= link_to new_user_session_path, class: "nav-link d-flex flex-column align-items-center" do %>
        <i class="fas fa-sign-in-alt"></i>
        <span>Login</span>
      <% end %>
    </li>
  <% end %>
</ul>

    </div>
  </div>
</nav>
