<div class="auth-page">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-5">
        <div class="auth-card">

          <h2 class="text-center mb-4">Entrar</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.input :email, required: true, autofocus: true %>
  <%= f.input :password, required: true %>
  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

  <%= f.button :submit, "Login", class: "btn btn-primary" %>
<% end %>

<hr>

<p>
  <%= link_to "Ainda não tenho cadastro", new_user_registration_path %>
</p>
<p>
  <%= link_to "Esqueci minha senha", new_user_password_path %>
</p>
        </div>
      </div>
    </div>
  </div>
</div> 
