<%= form_with model: @restaurant do |f| %>
  <% if @restaurant.errors.any? %>
    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name, "Nome" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :category, "Categoria" %><br>
    <%= f.text_field :category %>
  </div>

  <div>
    <%= f.label :infos, "Informações" %><br>
    <%= f.text_area :infos, rows: 6 %>
  </div>

  <div class="mb-3">
  <%= f.label :average_price, "Preço médio por pessoa (R$)" %>
  <%= f.number_field :average_price, class: "form-control", min: 0 %>
  <small class="form-text text-muted">Opcional</small>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
